* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #131313;
}

.prime  {
    
    display: flex;
    margin-top: 2.5%;
    gap: 3%;
    justify-content: center;
}

.alte {
    display: flex;
    margin-top: 6%;
    gap: 3%;
    justify-content: flex-end;
}



#card2  {
    background-image: url(hilda2.jpg);   
   }

.Final {
    display: flex;
    justify-content: center;
    margin-top: 7%;

  } 